In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요.\n만나서 \t\t반갑습니다.")
#t : tab, \n : 줄바꿈

안녕하세요.
만나서 		반갑습니다.

In [6]:
print("오늘은","일요일")

오늘은 일요일

In [7]:
print("naver;kakao;samsung")

naver;kakao;samsung

In [8]:
print("naver/kakao/samsung")

naver/kakao/samsung

In [9]:
print("frist");print("second")

frist
second

In [10]:
5/3

1.6666666666666667

In [11]:
삼성전자 = 500000
총평가금액 = 삼성전자*10

In [12]:
총평가금액

5000000

In [13]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [14]:
s = "hello"
t = "python"
print(s + "! " + t)

hello! python

In [15]:
2 + 2*3

8

In [16]:
a = 128
print(type(a))

<class 'int'>

In [17]:
a ="132"
print(type(a))

<class 'str'>

In [18]:
num_str ="720"
int(num_str)

720

In [19]:
num = 100
str(num)

'100'

In [20]:
a = "15.79"
float(a)

15.79

In [21]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [22]:
월 =48584
총금액 = 월*36
print(총금액)

1749024